@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f6f6;
  overflow-y: scroll;
}

/* 커스텀 스크롤바
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  height: 10%;
  background: #0d552c;
  border-radius: 25px;
}

body::-webkit-scrollbar-track {
  background: #c8c8c8;
}
*/
