@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f6f6;
  overflow-y: scroll;
}
