.pageSlider-entering {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  -webkit-animation-name: slidein 4s 1s;
  animation-name: slidein 4s 1s;
}

.pageSlider-entered {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 200ms;
  -webkit-animation-name: slidein 4s 1s;
  animation-name: slidein 4s 1s;
}

.pageSlider-exiting {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.pageSlider-exited {
  opacity: 0;
  transition: all 200ms;
}
